<div class="form-group">
    <label for="teamMember" class="col-sm-2 control-label">Team Member</label>
    <div class="col-sm-10">
        <input type="text" ng-model="note.teamMember" class="form-control" id="teamMember" placeholder="Team Member Name"/>
    </div>
</div>
<div class="form-group">
    <label for="project" class="col-sm-2 control-label">Project</label>
    <div class="col-sm-10">
        <input type="text" ng-model="note.project" class="form-control" id="project" placeholder="Project Name"/>
    </div>
</div>
<div class="form-group">
    <label for="workYesterday" class="col-sm-2 control-label">Worked Yesterday</label>
    <div class="col-sm-10">
        <input type="text" ng-model="note.workYesterday" class="form-control" id="workYesterday" placeholder="What did you work on yesterday?"/>
    </div>
</div>
<div class="form-group">
    <label for="workToday" class="col-sm-2 control-label">Work on Today</label>
    <div class="col-sm-10">
        <input type="text" ng-model="note.workToday" class="form-control" id="workToday" placeholder="What will you work on today?"/>
    </div>
</div>
<div class="form-group">
    <label for="impediments" class="col-sm-2 control-label">Impediments</label>
    <div class="col-sm-10">
        <input type="text" ng-model="note.impediments" class="form-control" id="impediments" placeholder="Any impediment(s)?"/>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>
